{{- if and .Params.htmltrust .Params.htmltrust.sign -}}
<signed-section{{ with .Params.htmltrust.signature }} signature="{{ . }}"{{ end }}{{ with .Params.htmltrust.keyid }} keyid="{{ . }}"{{ end }}{{ with .Params.htmltrust.algorithm }} algorithm="{{ . }}"{{ end }}{{ with .Params.htmltrust.contentHash }} content-hash="{{ . }}"{{ end }}>
  {{- with .Params.author | default .Site.Params.author }}
  <meta name="author" content="{{ . }}">
  {{- end }}
  {{- if not .Date.IsZero }}
  <meta name="signed-at" content="{{ .Date.UTC.Format "2006-01-02T15:04:05Z" }}">
  {{- end }}
  {{- with .Params.htmltrust.claims }}
  {{- range $key, $value := . }}
  <meta name="claim:{{ $key }}" content="{{ $value }}">
  {{- end }}
  {{- end }}
  {{ .Content }}
</signed-section>
{{- else -}}
{{ .Content }}
{{- end -}}
